.bg-header{
	background-image: url("../img/large.jpg");
	background-size: cover;
	width: 100%;
}
.text-white{
	color: #FFF;
}
.pantalla{
	background-color: rgba( 36, 35, 35, 0.5);
}
.pantallazul{
	background-color: rgba( 0, 175, 255, 0.8);
}
footer{
	background-color: #2A3541;
}
.blue{
	background-color: #74A3DB;
}
h2, h3{
	color: #58A5FF;
}
.pb-5{
	padding-bottom: 5%;
}
.pt-5{
	padding-top: 5%;
}
.img-compu{
	/*background-image: url("../img/sec-2.jpg");*/
	height: 100%;
	/*width: 100%;*/
}