/*MEDIDA EXTRA CHICA XS*/
@media screen (max-width: 379px) {
	h1{
		font-size: 0.5em;
		color: blue;
	}
}
/*MEDIDA SMALL SM 
tambien se puede poner 
@media screen (min-width:499px) and (max-width:991px)*/
@media screen (min-width:499px) and (max-width:991px){
	h1{
		font-size: 0.5em;
		color: red;
	}
	

}
/*MEDIDA MEDIANO MD*/
@media screen (min-width:992px) and (max-width:1199px){ 
	

}